include mocha.conf

{{ if eq .chezmoi.os "darwin" }}
shell /opt/homebrew/bin/fish
editor /opt/homebrew/bin/nvim
font_size 15.0
font_family JetBrainsMono Nerd Font Mono
{{ else if eq .chezmoi.os "linux" }}
shell /usr/bin/fish
editor /usr/bin/nvim
font_size 11.0
font_family JetBrainsMono Nerd Font
{{ end }}

bold_font auto
italic_font auto
bold_italic_font auto

window_padding_width 10

cursor_beam_thickness 1.0

touch_scroll_multiplier 3.0
